<div class="status-row">
    <div id="draftBtn" class="col-md-3 status-card draft"><b>DRAFT</b> <b>0</b> <i class="fa-solid fa-file"></i></div>
    <div id="pendingBtn" class="col-md-3 status-card pending"><b>PENDING</b> <b>3</b> <i class="fa-solid fa-clock"></i>
    </div>
    <div id="approvedBtn" class="col-md-3 status-card approved"><b>APPROVED</b> <b>22</b> <i
        class="fa-solid fa-check"></i></div>
    <div id="rejectedBtn" class="col-md-3 status-card rejected"><b>REJECTED</b> <b>2</b> <i
        class="fa-solid fa-xmark"></i></div>
  </div>