<header class="app-header">
  <h2>Project Dashboard</h2>

  <div class="user-info">
    <span class="user-name">Welcome, {{ userName }}</span>
    <span class="user-id">ID: {{ userId }}</span>
  </div>
</header>


<div class="app-container">

  <div class="sidebar">
    <ul>
      <li routerLink="/dashboard">Dashboard</li>
      <li (click)="toggleSubMenu('master')" [class.active]="activeMenu === 'master'">
         Master
      </li>
      <ul *ngIf="activeMenu === 'master'" class="submenu-card show">
        <li (click)="navigateTo('city')">City</li>
        <li (click)="navigateTo('account')">Account</li>
        <li (click)="navigateTo('instance')">Instance</li>
      </ul>
      <li routerLink="/userrole">Userrole</li>

      <li routerLink="/user"> User</li>
      <li routerLink="/gst">Gst</li>
      
      
    </ul>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</div>